.ui.cards.quizPage {
  width: auto;
  margin: 8% 20%;
}

.ui.container.userPage {
  /* width: 300px; */
  margin-top: 10%;
}

.ui.card.quizDiv {
  width: 80%;
  height: auto;
}

.ui.card.content.questions {
  overflow-y: scroll;
}

.ui.card.timerDiv {
  margin-top: 30%;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  width: 15%;
  height: 100px;
  padding: 0;
}

.timer {
  margin-top: 10px;
}

.question {
  text-align: left;
}

.correctAnswer {
  color: green;
}
