.ui.form .grouped.question {
	text-align: left;
}

.ui.form.quizForm {
	overflow-y: scroll;
	height: 325px;
}

.correctAnswer {
	background-color: #ccff90;
}

.wrongAnswer {
	background-color: #ff8a80;
}
